<article class='post_container'>
    <div style="border: 3px solid black;">
    <header class='post_title'>
        {{title}} test
    </header>
    <section style="margin: 2% 1% 1% 2%;">
        {{content}}
    </section>
    </div>
</article> 