<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="body_center">
    <div class="wrapper">
        <header>
            <div class="topnav">
                <a href='/'>Home</a>
                {{#if loggedIn}}
                <span onclick='logout()'>Logout</span>
                <a href='/dashboard'>Dashboard</a>
                {{else}}
                <a href='/sign-in'>Login</a>
                {{/if}}
            </div>
            <div class="main_title">
                <label>THE TECH BLOG</label>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
        <br>
        <footer class="base_bg_color">
            Thanks for visiting!
        </footer>
    </div>
    <script src="/javascript/logout.js"></script>
</body>

</html>