<section style="background-color: #4CAF50;">

    <div style="border: 3px solid black;">
        <section style="margin: 2% 1% 1% 2%;">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{post.title}}" style="width: 100%;"><br><br>
        
            <label for="content">Content:</label>
            <input type="textarea" id="content" name="content" rows="4" cols="50" value="{{post.content}}" style="width: 100%;"><br><br>
        </section>
    </div>

    {{!-- All for the New button --}}
    <div class="addNewPost">
        <button type="button" onclick="updatePost()">Update</button>
        <button type="button" onclick="deletePost()">Delete</button>
    </div>
</section>

<script src="/javascript/update-post.js"></script>
<script src="/javascript/delete-post.js"></script>
