<section style="background-color: #4CAF50;">

    <div style="border: 3px solid black;">
        <header>
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
        </header>
        <section style="margin: 2% 1% 1% 2%;">
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
        </section>
    </div>

    {{!-- All for the New button --}}
    <div class="addNewPost">
        <button type="button">Update</button>
        <button type="button">Delete</button>
    </div>
</section>
<script>
</script>