<section>
    <div style="height: 50%;"></div>
    <div class="bottom-button">
    <button type="submit" onclick="alert('Move to /dashboard/edit-del page for that post');"> 
    + New Post +
    </button>
    </div>
</section>