<section style="background-color: #4CAF50;">
    <br>

    {{# each posts as |post|}}
    <div onclick= "idTag({{id}})" class="dashLabel">
        <label style="margin-right: 40%;"> {{title}}</label>
        <label style="margin-left: 80%;"> {{format_date created_at}}</label>
    </div>
    <br>
    {{/each}}

    {{!-- All for the New button --}}
    <div class="addNewPost">
        <button type="submit" onclick="alert('Move to /dashboard/dash-edit-del page for that post');">
            + New Post +
        </button>
    </div>
</section>
<script>
    var idTag = function(id){
        console.log("it's id is "+ id);
        document.location.replace('/dashboard/'+id);
    }
</script>