<form class="sign-up form-dim" >
    <section class="body_center_login">
    <table>
        <tr>
        <td><label for="username">User name: </label></td>
        <td><input type="text" id="username" /></td>
        </tr><tr>
        <td><label for="password-login">Password: </label></td>
        <td><input type="password" id="password-login" /></td>
        </tr>
    </table>
    <div>
        <button type="submit" class="base_bg_color">Sign-up</button>
    </div>
    <span><a href="/sign-in"> Login instead</a></span>
    </section>
</form>
<script src="/javascript/sign-up.js"></script>