<form class="sign-in-form form-dim" >
    <section class="body_center_login">
        <table>
            <tr>
                <td><label for="username">User name: </label></td>
                <td><input type="text" id="username" /></td>
            </tr>
            <tr>
                <td><label for="password-login">Password: </label></td>
                <td><input type="password" id="password-login" /></td>
            </tr>
        </table>
        <div>
            <button type="submit" class="base_bg_color">Login</button>
        </div>
        <span><a href="/sign-up"> Sign up instead</a></span>
    </section>
</form>
<script src="/javascript/sign-in.js"></script>