<form class="sign-in">
    <div>
        <label for="username">User name : </label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="password-login">Password: </label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Sign-in</button>
    </div>
    <span><a href="/sign-up"> Sign up instead</a></span>
</form>
<script src="/javascript/sign-in.js"></script>