<form class="sign-up">
    <div>
        <label for="username">User name : </label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="password-login">Password: </label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Sign-up</button>
    </div>
    <span><a href="/sign-in"> Sign up instead</a></span>
</form>
<script src="/javascript/sign-up.js"></script>