/* Nav bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a,
span {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover,
span:hover {
  background-color: #4caf50;
  color: black;
}

/*landing page title*/
.main_title {
  background-color: black;
  color: white;
  padding: 3%;
}

.main_title label {
  border: 15px solid #4caf50;
  background-color: #4caf50;
  margin: 1%;
  border-radius: 12px;
}

.main_title label:hover {
  color: black;
}

/*Landing page body center*/
.body_center {
  width: 50%;
  border: 1px black;
  margin: auto;
  padding-top: 5%;
}

/*Content*/
.post_title {
  color: white;
  background-color: black;
}

.post_container {
  background-color: #4caf50;
  color: black;
  border: 2px black solid;
  padding: 3%;
}

/* Sign up and sign in form*/
.form-dim {
  background-color: #4caf50;
  border: 3px solid black;
  /*adding flex*/
  display: flex;
  flex-wrap: wrap;
}

.body_center_login {
  width: 50%;
  border: 1px black;
  margin: auto;
  padding: 3% 0 5% 0;
}

.body_center_login tr label {
  margin: 2%;
  width: auto;
}

td {
  padding: 3%;
  margin: auto;
}

.base_bg_color {
  background-color: black;
  color: white;
  padding: 1%;
}

input {
  border-radius: 12px;
  width: 70%;
  height: 150%;
  text-align: center;
}

/* Dashbutton*/
.addNewPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashTdRight{
  background-color: yellow;
  padding: 1%;
  width: 100%;
}

.dashTdLeft{
  background-color: yellow;
  padding: 1%;
  width: 100%;
}
