/* Nav bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4CAF50;
  color: black;
}

/*landing page title*/
.main_title{
  background-color:  black; 
  color:white;
  padding: 2%;
}

.main_title label{
  border: 15px solid  #4CAF50;
  background-color: #4CAF50;
  margin: 2%;
  border-radius: 12px;
}

.main_title label:hover{
  color:black;
}
